body {
	margin: auto;
	width: 50%;
	background-color: #ffe9c4;
	font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3 {
	padding-bottom: 5px;
	text-align: center;
}

h1 {
	color: #159b11;
}

.wrapper {
	border: 1px solid black;
}

p {
	padding: 10px;
}
table.images {
    border-collapse:collapse;
    border: 20px solid white;
}

table.list {
    margin: auto;
}

tr {
    background-color: #FFFFFF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.list td {
    text-align: left;
}
a {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
a:hover {
    color: #159b11;
}
a:active {
    color: #f442b0;
}
span {
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}
