<meta abbreviation="X" sex="m">
<sSpan1 fancy="0">
This		
</sSpan1>
is		
an		
<sSpan2 fancy="4">
example		
</sSpan2>
text		
.		
<sSpan3 fancy="3">
I		
made		
</sSpan3>
this		
<sSpan4 fancy="7">
work		
flow		
</sSpan4>
work		
.		
<sSpan5 fancy="10">
Heck		
yeah		
!		
</sSpan5>
</meta>
