<meta abbreviation="AUT" edition="null" author="Dioscorides" source="null" sex="u" scientific-name="artemisia"> ﻿ <definitions definitions="definition">
		<entry entry="entry"> ἀρτεμισία· </entry> φύεται μὲν ὡς τὸ πολὺ ἐν παραθαλασσίοις τόποις. πόα θαμνοειδής, παρόμοιος ἀψινθίῳ, μείζω δὲ καὶ λιπαρώτερα τὰ φύλλα ἔχουσα. καὶ ἡ μέν τίς ἐστιν αὐτῆς εὐερνής, πλατύτερα ἔχουσα τὰ φύλλα καὶ τὰς ῥάβδους, ἡ δὲ λεπτοτέρα, ἄνθη μικρά, λεπτά, λευκά, βαρύοσμα· </definitions>
</meta>
