<meta abbreviation="AUT" sex="u" scientific-name="botrys"> ﻿ βότρυς· πόα ἐστὶν ὅλη μηλίνη, θαμνοειδής, διακεχυμένη, πολλὰς ἔχουσα μασχάλας· τὸ δὲ σπέρμα ὅλοις τοῖς κλωνίοις περιπέφυκε, φύλλα κιχορίῳ ἐμφερῆ καὶ τὸ σύμπαν εὐῶδες ἱκανῶς· διὸ καὶ ἱματίοις συντίθεται. φύεται δὲ μάλιστα περὶ χαράδρας καὶ χειμάρρους. δύναμιν δὲ ἔχει σὺν οἴνῳ πινομένη ὀρθοπνοίας παρηγορητικήν· καὶ τοῦτο δὲ Καππάδοκες ἀμβροσίαν καλοῦσι, τινὲς δὲ
	ἀρτεμισίαν. </meta>
